/* css for header elements */

.page-header {
  height: 25rem;
  width: 100vw;
  padding-top: 165px;
  background-color: #000ac7;
    background-image: url(http://www.transparenttextures.com/patterns/moulin.png);
}

body {
  display: flex;
  flex-flow: row wrap;
}

h2 {
  text-align: center;
  margin: 0;
  color: white;
  font-weight: 300;
  padding-bottom: 2.5rem;
}

h2 span {
  font-weight: bold;
}

.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar > img {
  height: 12rem;

}


/* breakpoints */
@media only screen and (min-width: 1024px) {
  .page-header {
    margin: 12rem 6rem 12rem 2rem;
    width: 35%;
    height: 30%;
    padding-top: 2.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .page-header {
    padding-top: 7.2rem;
  }
}
