/* Navigation Bar Styles*/
nav {
  height: 120px;
  width: 100vw;
  background-color:#0000fbfd;
  color: rgb(245, 245, 245);
  font-family: "Bungee", cursive;
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

nav > span {
  font-family: "Bungee", cursive;
  display: flex;
  align-items: center;
}

p > span {
  font-weight: bold;
}

.nav-right {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav-right > p {
  margin-bottom: 0%;
}

.fa-solid.fa-angles-down{
  color: rgba(255, 0, 0, 0.892);
}

.logo {
  font-family: "Bungee", cursive;
  display: flex;
  align-items: center;

}


@media only screen and (min-width: 1024px) {
  nav {
    z-index: 1;
    top: 0;
    background-color: #4056A1;
  }
}